<body>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" style="font-size: 30px;">Expense Tracker</a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive" >
              <ul class="navbar-nav ms-auto" >
                <li *ngIf="check" class="nav-item active">
                  <a class="nav-link" routerLink="/home"><b>Home</b></a>
                </li>
                <li *ngIf="check" class="nav-item">
                  <a class="nav-link" routerLink="/about"><b>About</b></a>
                </li>
                <li *ngIf="!check" class="nav-item">
                  <a class="nav-link" routerLink="/login"><b>login</b></a>
                </li>
                <li *ngIf="check" class="nav-item">
                  <a class="nav-link" (click)="logout()" routerLink="/login" ><b>logOut</b></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <br>
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets\expensewallet.jpg" alt="First slide" height="500px" width="500px">
              </div>
              
            </div>
          </div>
    <br>
    <br>
    <h1 style="font-size: 60px; text-align: center;" ><b>About Us</b></h1>
    <div class="description">
      <br>
        <p>
            Personal finance management is an important part of people’s lives. However, everyone does not have the knowledge or time 
            to manage their finances in a proper manner. And, even if a person has time and knowledge, they do not bother with tracking
             their expenses as they find it tedious and time-consuming. Now, you don’t have to worry about managing your expenses, as you
              can get access to an expense tracker that will help in the active management of your finances.
        </p>
        <p>
            Also known as expense manager and money manager, an expense tracker is a software or application that helps to keep an 
            accurate record of your money inflow and outflow. Many people in India live on a fixed income, and they find that towards 
            the end of the month they don’t have sufficient money to meet their needs. While this problem can arise due to low salary, 
            invariably it is due to poor money management skills.
            <br>
            <br>
        </p>
    </div>
    <br>
    <br>
    <br>
</body>