<!DOCTYPE html><html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" style="font-size: 30px;">Expense Tracker</a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive" >
              <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about"><b>About</b></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <br>
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets\expensewallet.jpg" alt="First slide" height="500px" width="500px">
              </div>
              
            </div>
          </div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 25px;" ><b>Sign In</b></div>
      <br>
    </div>

    <!-- Login Form -->
    <form >
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="usr.email">
      <input [type]="showPassword ? 'text' : 'password'" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="usr.password">
      <br>
      <br>
      <input type="checkbox" (click)="myFunction()">Show Password
      <br>
      <br>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="signin()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="goto()">New User? Sign Up</a>
    </div>

  </div>
</div>
</html>